aside {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 3rem;
}

aside > div {
    margin-bottom: 1rem;
}

aside h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid black;
}


/* ------------------------------------------------- */
                    /* ASIDE LEFT */
/* ------------------------------------------------- */


aside ul li button.aside-category {
    border: none;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding: 1rem 2rem;
    background-color: transparent;
    cursor: pointer;
}

aside ul li button.aside-category:hover,
aside ul li button.aside-category.selected {
    background-color: var(--color-medium-blue);
    color: white;
}

/* ------------------------------------------------- */
                    /* ASIDE RIGHT */
/* ------------------------------------------------- */

aside a {
    color: grey;
}

aside a.button-blue {
    width: fit-content;
}

aside p.points {
    text-align: center;
    font-size: 8em;
    color: grey;
    padding: 1rem 1rem 0rem 1rem;
}

aside .flex-container {
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
    font-weight: 600;
}

aside .flex-container-column {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

aside .flex-container:hover {
    color: var(--color-dark-grey);
}


/* ------------------------------------------------- */
                    /* MEDIA QUERYS */
/* ------------------------------------------------- */

@media only screen and (max-width: 400px) {
    .flex-container {
        flex-direction: row;
    }
}



