.content .sidebar-right .right_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.content .sidebar-right .right_container .aside_div .points {
    text-align: center;
    font-size: 10em;
    color: rgba(0, 0, 0, 0.6);
}

.content .sidebar-right .right_container .aside_div .titulo::after {
    content: '';
    background-color: lightgrey;
    display: block;
    width: 100%;
    height: .1em;
}

.content .sidebar-right .right_container .aside_div .lista_amigos ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1em;
}

.content .sidebar-right .right_container .aside_div .lista_amigos ul li:hover {
    background-color: lightgrey;
}

.content .sidebar-right .right_container .aside_div .lista_amigos ul li img {
    height: 3em;
    margin-right: 1em;
}

