.comment {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    margin: 1rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment div p a {
    font-weight: 600;
}

.comment div p a:hover {
    color: grey;
}

.comment.subcomment {
    margin-left: 4rem;
}

.comment .load-subcomments {
    display: none;
}

.comment .load-subcomments.shown {
    display: block;
    font-weight: 600;
    color: grey;
}

.comment .load-subcomments.shown:hover {
    color: var(--color-dark-grey);
}