:root {
    --color-dark-blue: #05059d;
    --color-medium-blue: #0158f8;
    --color-light-blue: #00a2db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PC login screen*/

body {
    background-color: var(--color-dark-blue);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.logo > img {
    max-width: 60%;
}

.txt {
    color: var(--color-medium-blue);
    font-size: x-large;
    font-weight: bold;
    margin: 1em 0;
}

.contenedor_login {
    background-image: url("../img/shape-desktop-login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.login .in {
    width: 40%;
}

.login .in input[type="text"],
.login .in input[type="password"] {
    width: 70%;
    background: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: var(--color-dark-blue);
}

.login .in input[type="text"]::placeholder,
.login .in input[type="password"]::placeholder {
    color: var(--color-medium-blue);
    font-weight: bold;
    letter-spacing: 2px;
}

.login .in::after {
    content: '';
    background-color: var(--color-dark-blue);
    position: absolute;
    height: .5rem;
    width: 60%;
    left: 20%;
    bottom: 0;
}

.registrarse {
    display: flex;
    justify-content:center;
}

.registrarse > a{
    color: var(--color-dark-blue)
}

.registrarse > a:hover {
    color: var(--color-medium-blue);
}

.icon svg{
    height: 2rem;
    width: 2rem;
    color: var(--color-dark-blue);
    fill: currentColor;
}

input[type="submit"] {
    background-color: var(--color-dark-blue);
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

input[type="submit"]:hover {
    background-color: var(--color-medium-blue);
}

.form_login  input {
    padding: .5em;
    width: 40%;
    appearance: none;
    margin: 2em;
}

/*Mobile login screen*/
@media screen and (max-width: 768px) {
    .contenedor_login {
        background-image: none;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: var(--color-medium-blue);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40%, 60%;
        grid-template-areas: 
        "logo"
        "form";
    }
    
    .txt, 
    .registrarse > a{
        color: white;
    }

    .icon svg{
        color: white;
    }

    .registrarse > a:hover {
        color: var(--color-dark-blue);
    }

    .contenedor_login > div {
        padding: 2em;
    }
    
    .logo {
        background-image: url("../img/shape-movil-login.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: logo;
    }

    .form_login {
        grid-area: form;
    }

    input[type="submit"] {
        background-color: white;
        color: var(--color-dark-blue);
        padding: .5em;
    }

    input[type="submit"]:hover{
        background-color: var(--color-medium-blue);
        color: white;
    }

    .login .in::after {
        content: '';
        background-color: white;
        position: absolute;
        height: .5rem;
        width: 60%;
        left: 20%;
        bottom: 0;
    }

    .login .in input[type="text"],
    .login .in input[type="password"] {
        color: white;
    }

    .login .in input[type="text"]::placeholder,
    .login .in input[type="password"]::placeholder {
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
    }
}

/*Register screen desktop version*/
.ck_conditions{
    display: none;
    cursor: pointer;
}

.ck_conditions:checked::before {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: var(--color-medium-blue);
}

.init_sesion .iniciar {
    background-color: white;

}

.iniciar {
    width: 40%;
    padding: .5em;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 4px solid var(--color-dark-blue);
    font-size: large;
    font-weight: bold;
    color: var(--color-dark-blue);
    margin-bottom: .5rem;
    margin-top: 0;
}

.iniciar:hover {
    background-color: var(--color-dark-blue);
    color: white;
}

.check_accept {
    display: flex;
    flex-direction: column;
}

.checkbox {

}