.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*background-color: var(--color-medium-blue);*/
}

.login-screen main .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--color-medium-blue) 50%, var(--color-dark-blue) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.login-screen main .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.login-screen main .bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

.login-container {
    width: 21.875rem;
    height: 30rem;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px black;
}

.login-container img {
    padding: 3rem 4rem 2rem;
    width: 100%;
}

.login-container form {
    padding: 0 2rem;
    margin-top: 0;
}

.login-container form .errors {
    text-align: center;
}

.login-container label {
    color: var(--color-dark-blue);
    text-align: center;
    cursor: pointer;
}

.login-container label:hover {
    text-decoration: underline;
}

#chk {
    display: none;    
}

.signup {
    height: 368px;
    transform: translateY(-120px);
    transition: 0.8s ease-in-out;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

#chk:checked ~ .signup {
    transform: translateY(-30rem);
}

#chk:checked ~ .signup label {
    transform: scale(1);
}

/* smartphones en vertical */
@media only screen and (max-width: 400px) {
    .login-container {
        width: 19.68rem;
        height: 29rem;
        background-color: white;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 5px 20px 50px black;
    }

    #chk:checked ~ .signup {
        transform: translateY(-29rem);
    }
}



