.box-post {
    margin-bottom: 2rem;
    background-color: blueviolet;
    padding: 1rem;
}

.box-post .post-head {

}

.box-post .post-head a {
    color: grey;
    font-weight: 600;
    text-decoration: none;
}

.box-post .post-head p {
    color: grey;
}

.box-post .post-head .category {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;

    border-radius: 0.25rem;
    background-color: grey;
    color: white;

    overflow: hidden;
    padding: 0.5rem 1rem;
    margin: 0;
}

.box-post .post-head ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

.box-post .post-head .tag {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;

    border-radius: 0.25rem;
    background-color: var(--color-light-blue);
    color: white;

    overflow: hidden;
    padding: 0.5rem 1rem;
    margin: 0;
}

