.ranking-content {
    background-color: white;
    min-height: 100vh;
    padding: 1rem;
}

.ranking-content ol {
    list-style: none;
}

.ranking-content li {
    padding: 0.5rem;
}

.ranking-content a {
    font-weight: 600;
}

.ranking-content a:hover {
    text-decoration: underline;
}

.grid-container.title {
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: var(--color-medium-blue);
    color: white;
}

ol.ranking li:nth-child(even) {
    background-color: lightgrey;
}

ol.ranking li.current {
    border: 0.2rem solid var(--color-medium-blue);
}


/* smartphones en vertical */
@media only screen and (max-width: 400px) {

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .ranking img {
        display: none;
    }

    .ranking-img-title {
        display: none;
    }
}