

.user-panel .flex-container {
    padding: 1rem 5rem 1rem 1rem;
    justify-content: space-between;
    background-color: white;
}

.user-panel .flex-container-column.userpoints {
    align-items: center;
    justify-content: center;
}

.points {
    font-size: 3rem;
    color: grey;
}

.user-panel p {
    color: grey;
}

.no-se-como-arreglar-esto-de-una-manera-mejor {
    padding-left: 0;
}
