#user-banner-container {
    width: 100%;
    background-color: var(--color-dark-blue);
    display: none;
}

#user-banner-container.shown {
    display: block;
}

#user-banner {
    width: 90%;
    padding: 0.75rem 2rem;
    color: white;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-banner a {
    color: white;
    font-weight: 500;
}

#user-banner a:hover {
    text-decoration: underline;
}

#user-banner .data {
    color: rgba(255, 255, 255, 0.8);
}

#user-banner .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-banner .user-info img {
    display: block;
    width: 7.5rem;
    height: 7.5rem;
    padding-right: 1rem;
}

.form-userbanner {
    background-color: transparent;
    margin-top: 0;
    gap: 0.2rem;
    padding: 0;
}

.form-userbanner input[type="text"],
.form-userbanner input[type="password"] {
    border: none;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

/* smartphones en vertical */
@media only screen and (max-width: 400px) {
    #user-banner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #user-banner ul {
        padding: 1rem;
    }

    #user-banner .user-info {
        text-align: center;
        padding: 1rem 1rem 0 1rem;
    }

    #user-banner .user-info .flex-container-column {
        justify-content: center;
        align-items: center;
    }

    #user-banner .user-info img {
        display: none;
    }

    #user-banner ul li {
        text-align: center;
    }
}


