*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.base{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10em;
    padding-bottom: 10em;
    gap: 15px;
}

p, h1{
    font-family: 'Montserrat', sans-serif;
}

.depart{
    width: 100%;
}

.departamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background: grey;
    padding: 5px;
    color: white;
    text-transform: uppercase;

}


.datos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
    color: grey;

}

.tiempo{
    width: fit-content;
}

.usuario{
    width: fit-content;
}

.comentario{
    width: fit-content;
}

.favoritos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.anadir{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 0.5em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0158f8;
}

.numero{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.gustar{
    color: white;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 1.5em;
    height: 1.5em;
}