<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/css_comentario.css">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="base">
            <div class="perfil">
                <div><img src="../logos/user-default-image.svg" class="logo_usuario"></div>
                <div class="datos_usuario">
                    <div class="nombre"><a>listillo93</a></div>
                    <div class="tiempo"><a>hace 30 minutos</a></div>
                </div>
            </div>
            <div class="texto">
                <a>Bueno, pues verás, sinceramente, no se que haces trabajando en esta empresa. Desde que empezaron

                    a contratar gente sin título para pagarles el salario mínimo, el departamento se ha llenado de subnor-
                    males como tú. Ojalá el gilipollas que te contrato se monte en uno de los aviones que has ensamblado
                    
                    tu y no tengamos que volver a veros la cara a ninguno de los dos.</a>
            </div>
            <div class="botones">
                <button type="button" class="boton1">
                    <img class="logo" src="../logos/password-blue.svg">
                    <span class="comentar">Comentar</span>
                </button>
                <button type="button" class="boton2">
                    <img class="logo2" src="../logos/like-white.svg">
                    <span class="gustar">Me gusta</span>
                </button>
            </div>
        </div>
    </body>
    <script text="text/javascript" src="Crear_Post.js"></script>
</html>