<!--Comentario de prueba-->
<div class="comment">
    <div class="comment-head">
        <img src="img/user-default-image.svg" class="author-image">
        <div class="comment-info">
            <p><a class="author" href="#">listillo93</a></p>
            <p class="comment-date">hace 30 minutos</p>
        </div>
    </div>
    <div class="comment-body">
        <p>Bueno, pues verás, sinceramente, no se que haces trabajando en esta empresa. Desde que empezaron a contratar gente sin título para pagarles el salario mínimo, el departamento se ha llenado de subnormales como tu y no tengamos que volver a veros la cara a ninguno de los dos.</p>
    </div>
    <div class="comment-controls">
        <button class="button-white">
            <img src="img/comment-stroke.svg">
            Añadir comentario
        </button>
        <button  class="button-blue">
            <img src="img/like-white.svg">
            Me gusta
        </button>
    </div>
</div>

<!--Sub comentario de prueba-->
<div class="comment subcomment">
    <div class="comment-head">
        <img src="img/user-default-image.svg" class="author-image">
        <div class="comment-info">
            <p><a class="author" href="#">listillo93</a></p>
            <p class="comment-date">hace 30 minutos</p>
        </div>
    </div>
    <div class="comment-body">
        <p>Segundo comentario</p>
    </div>
    <div class="comment-controls">
        <button class="button-white">
            <img src="img/comment-stroke.svg">
            Añadir comentario
        </button>
        <button  class="button-blue">
            <img src="img/like-white.svg">
            Me gusta
        </button>
    </div>
</div>