<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/css_pantalla_principal.css">
    </head>
    <body>
        <header>
            <div class="cabecera">
                <div class="empresa">
                    <div><img class="logotipo" src=""></div>
                    <div><img class="nombreEmpresa" src="../logos/aerbide-logo.svg"></div>
                </div>
                <div class="usuario">
                    <button type="button" class="boton">
                        <img class="logo" src="../logos/comment-stroke.svg">
                        <span class="comentar">4</span>
                    </button>
                    <div><img class="perfil"  src="../logos/user-default-image.svg"></div>
                </div>
            </div>
        </header>
        <main>
            <aside class="ladoIzquierdo">
                <h3>Seleccione la etiqueta deseada</h3>
                <div class="listaTag">
                    <label><input type="checkbox" class="tag[1]">Tag 1</label><br>
                    <label><input type="checkbox" class="tag[2]">Tag 2</label><br>
                    <label><input type="checkbox" class="tag[3]">Tag 3</label><br>
                </div>
                <button type="button" class="masTag">
                    <span class="comentar">Mostrar todas</span>
                    <img class="flecha" src="../logos/arrow.png">
                </button>
            </aside>
            <nav class="navegador">
                <h2>Ordenar por:</h2>
                <button type="button" class="filtro">
                    <span class="tipoFiltro">Mas antiguo</span>
                </button>
                <button type="button" class="filtro">
                    <span class="tipoFiltro">Mas reciente</span>
                </button>
                <button type="button" class="filtro">
                    <span class="tipoFiltro">Mejor valorado</span>
                </button>
                <button type="button" class="filtro">
                    <span class="tipoFiltro">
                        
                    </span>
                </button>
            </nav>
            <div class="parteCentral"></div>
            <aside class="ladoDerecho"></aside>
        </main>
        <footer></footer>
    </body>
</html>