<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/css_post_comentario.css">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="base">
            <div class="depart">
                <div class="departamento"><p>aeronautica</p></div>
            </div>
            <div class="pregunta"><h1>¿Porqué no puedo pegar las alas de los aviones con
                cinta americana?</h1></div>
            <div class="datos">
                <div class="tiempo"><p>hace 1 hora por</p></div>
                <div class="usuario"><p><strong>usuarioConLuces</strong></p></div>
                <div class="comentario"><p>| 1 comentario</p></div>
            </div>
            <div class="favoritos">
                <button type="button" class="anadir">
                    <img class="logo" src="../logos/favourite-stroke.svg">
                    <span class="gustar">Añadir a favoritos</span>
                </button>
                <div class="numero">31 favoritos</div>
            </div>
        </div>
    </body>
    <script text="text/javascript" src="Crear_Post.js"></script>
</html>