<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/css_pregunta.css">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="base">
            <div class="perfil">
                <div><img src="../logos/user-default-image.svg" class="logo_usuario"></div>
                <div class="datos_usuario">
                    <div class="pregunta"><a>¿Por que no puedo pegar las alas de los aviones con cinta americana?</a></div>
                    <div class="datos">
                        <div><a>por</a></div>
                        <div class="nombre"><a><strong>usuarioConLuces</strong></a></div>
                        <div><a>en</a></div>
                        <div class="departamento"><a><strong>Aeronautica,</strong></a></div>
                        <div class="tiempo"><a>hace 30 minutos</a></div>
                    </div>
                </div>
            </div>
            <div class="botones">
                <button type="button" class="boton1">
                    <img class="logo2" src="../logos/favourite-stroke.svg">
                    <span class="gustar">15</span>
                </button>
                <button type="button" class="boton">
                    <img class="logo" src="../logos/comment-stroke.svg">
                    <span class="comentar">4</span>
                </button>
            </div>
        </div>
    </body>
    <script text="text/javascript" src="Crear_Post.js"></script>
</html>