<div class="small-post">
    <div class="post-head">
        <img src="img/user-default-image.svg" class="post-author-icon">
        <div class="post-info">
            <h3 class="post-title">¿Por que no puedo pegar las alas de los aviones con cinta americana?</h3>
            <p class="post-data">por
                <a class="post-author" href="#">usuarioConLuces</a>
                en <a class="post-category" href="#">Aeronautica</a></span>
                <span class="post-date">hace 30 minutos</span>
            </p>
            <div class="post-stats">
                <span class="post-likes"><img src="img/favourite-stroke.svg"> 15</span>
                <span class="post-comments"><img  src="img/comment-stroke.svg"> 4</span>
            </div>
        </div>
    </div>
</div>